<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Кот Василий</title>
</head>
<body>
<h1>Кот Василий</h1>
<img src="https://media.istockphoto.com/photos/at-jumping-scottish-straight-cat-picture-id1361691537"
     width="300" height="200" alt="Моя картинка" />
<br>
<strong>Привет, я <ins>кот Василий</ins>, а это моя страничка!</strong>
<p>На ней я буду публиковать <del>свои стихи и рассказы</del>, свой код и ссылки на GitHub</p>
<p>Еще тут вы сможете найти мои рисунки, которые я иногда делаю.</p>
<p>Сразу <ins>скажу</ins> рисунки у меня<em> так себе</em>, <mark>потому что у меня лапки.</mark></p>
</body>
</html>

